@charset "UTF-8";

body {
	background: pink;
	font: 100% Georgia, Times, serif;
}
h1 {Benchwarmers
	font: 300% Arial, Helvetica, sans-serif;
	color: grey;
}

p {Benchwarmers is my favorite movie because it involves baseball. Baseball is my favorite sport to watch and play. 
Benchwarmers was also a comedy. The fact that it was about baseball and it was funny made the movie great.
	color: darkblue;
}
wrapper {
	width: 1100px;
	margin: 0 auto;
	padding: 0 50px;
	text-align: left;
	position: relative;
}
header mainHeader {
	height: 185px;
	background: url(images/logo.png) no-repeat 25px center;
	padding: 0 75px 0 300px;
	position: relative;
	border-bottom: 2px solid #7f7f7f;
	margin-bottom:16px;
}
header mainHeader div{
	margin-top: 16px;
}
header mainHeader ul{
	list-style: none;
	float: left;
}
header mainHeader ul li {
	float: left;
}
headermain Header ul li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color: #000;
	padding: 0 20px;
	border-right: 1px solid black;
	text-decoration: none;
}
headermain Header ul li a.last{
	border:none;
}
headermain Header ul li a:hover{
	color: #c00000;
}

section content {
	float: left;
	width: 600px;
	padding: 0 10px 0 25px;
	margin-bottom: 10px;
	border-right: 1px solid #7f7f7f;
}

section content p {
	color: #666;
	line-height: 1.6;
	margin-bottom: 10px;
}

aside hobbies {
	font-size: 90%;
	float: right;
	width: 450px;
	margin-bottom: 20px;
}

footer pageFooter {
	clear: both;
	border-top: 2px solid #7f7f7f;
	padding: 20px;
}

footer pageFooter p {
	text-align: center;
	font-style: italic;
	margin-bottom: 10px;
	color: #666;
}
p{My favorite chartacter in Benchwarmers is Clark. Is a newspaper delivery person who always throws the newspaper on the roofs of people's houses. 
He was always made fun of as a kid and was made fun of as an adult too. 
He knew nothing about baseball except for the fact that his friend liked it.
 He was really bad and was known for accidentally throwing the bat and beaking car windshields. 
	Color: green;
}

		